<h1 mat-dialog-title>Give your parameters</h1>
<div mat-dialog-content>
  f1(x) = <input type="number" step="0.1" matInput [(ngModel)]="_data.a">&middot;x<sup>2</sup> + 
  <input type="number" step="0.1" matInput [(ngModel)]="_data.b">&middot;x + 
  <input type="number" step="0.1" matInput [(ngModel)]="_data.c">
</div>
<div mat-dialog-content>
  f2(x) =
  <input type="number" step="0.1" matInput [(ngModel)]="_data.d">&middot;x + 
  <input type="number" step="0.1" matInput [(ngModel)]="_data.e">
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="ok()" cdkFocusInitial>Ok</button>
</div>
